@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/* Custom font for app name */
	--font-exo: "Exo 2", sans-serif;

	/* Solid background colors */
	--color-lightbg:	#D6D3D1;
	--color-nightbg:	#0A0A0A;

	/* Light mode theme colors */
	--color-green-light:	#2CBC6A;
	--color-yellow-light:	#E6C942;
	--color-purple-light:	#B070FF;
	--color-magenta-light:	#FF5CBF;
	--color-border-light:	#555555;

	/* Night mode theme colors */
	--color-green-night:	#1FA75A;
	--color-yellow-night:	#C3AC38;
	--color-purple-night:	#8A5CDC;
	--color-magenta-night:	#E44FAE;
	--color-border-night:	#FAFAFA;

	/* UI constant colors */
	--color-green-ui:	#1F9E63;
	--color-yellow-ui:	#B89C1F;
	--color-purple-ui:	#7A3FE0;
	--color-magenta-ui:	#E043A6;
	--color-red-ui:		#E04343;

	/* Hover state colors */
	--color-green-hover:	#33C774;
	--color-yellow-hover:	#D1B330;
	--color-purple-hover:	#A356FF;
	--color-magenta-hover:	#D23A96;
	--color-red-hover:		#FF4242;

	/* Active state colors */
	--color-green-active:	#2AAF65;
	--color-yellow-active:	#BFA22A;
	--color-purple-active:	#8F47EB;
	--color-magenta-active:	#B92F84;
	--color-red-active:		#E53939;

	/* Custom text colors */
	--color-grey-light:	#3F3F46;
	--color-grey-night:	#D4D4D8;
}

@layer components {
	.background {
		@apply flex flex-col min-h-screen  bg-linear-to-br
			from-lightbg  to-nightbg;
	}

	.dark .background {
		@apply bg-linear-to-br from-nightbg  to-lightbg;
	}

	.greyText {
		@apply text-grey-light text-shadow-grey-night
	}

	.dark .greyText {
		@apply text-grey-night text-shadow-grey-light
	}

	.authInput {
		@apply w-full py-3 px-4 leading-tight rounded-lg shadow-xs
			placeholder-border-light
			border border-border-light bg-lightbg
	}

	.dark .authInput {
		@apply placeholder-border-night border-border-night bg-nightbg
	}

	.authInput--error {
		@apply border-red-ui
	}

	.authInput:focus,
	.authInput:focus-visible {
		@apply outline-none ring-2 ring-green-active border-none
	}

	.authInput--error:focus,
	.authInput--error:focus-visible {
		@apply border-red-ui
	}

	.validateHelp {
		@apply mt-1 text-xs text-red-ui text-right
	}

	.greenButton {
		@apply	inline-block py-3 px-7 w-full text-lg leading-7 font-medium text-center
				text-green-50 bg-green-ui 
				border border-transparent rounded-md shadow-sm
	}

	.greenButton:hover {
		@apply bg-green-hover
	}

	.greenButton:focus {
		@apply outline-none ring-2 ring-offset-green-active border-none
	}
}